console.log( "<%= @find_cat.id %>")
console.log(document.querySelector(".cat-<%= @find_cat.id %>"))
document.querySelector(".cat-<%= @find_cat.id %>").insertAdjacentHTML("beforeend", "<li><%= @task.title %> -> <%= @task.deadline %></li>")
